{
  "presets": [
    "@babel/env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx"
  ]
}
